@charset "utf-8";

/* 초기화 */
* {
   margin: 0;
   padding: 0;
   font-family: 'Noto Sans KR', sans-serif;
}

h3{
   color: #000000;
}
/* 바탕 */

.wrap ::before {
   position: relative;
}

#container {
   max-width: 768px;
   height: 100%;
   margin: 0 auto;
}

.q1,
.q2,
.q3 {
   margin-left: 20px;
}

.q1{
   margin-top: 60px;
}


/* 헤더 */


header {
   width: 100%;
   height: 140px;
   position: relative;
   /* background: linear-gradient( to bottom, #000000, #f7f7f7 65%); */
}

/* 인풋 */
input[type=radio] {
   accent-color : #A60000;
}

input[type=checkbox] {
   accent-color : #A60000;
}

input {
   width: 400px;
   height: 50px;
   margin-top: 10px;
   padding-left: 10px;
}

#gender {
   width: 15px;
   height: 15px;
}

#checkbox {
   width: 15px;
   height: 15px;
   margin-right: 10px;
}

#Calendar{
   width: 390px;
   padding-right: 10px;
}

#color{
   width: 410px;
   padding: 0%;
}

#sample6_postcode{
   width: 100px;
}

#found{
   width: 100px;
   height: 50px;
   padding: 2px 0px 2px 0px;
   margin: 0px 0px 0px 10px;
   border: none;
   background-color: #A60000;
   color: #fff;
   font-weight: 500;
}


/* 내용 */

h1 {
   max-width: 768px;
   text-align: center;
}

h1 img {
   display: block;
   margin: 0 auto;
   width: 220px;
   position: absolute;
   max-width: 100%;
   max-height: 100%;
   top: 60px;
   bottom: 0;
   left: 0;
   right: 0;
}

.first{
   max-width: 100%;
   padding-top: 120px;
   text-align: center;
   font-weight: 700;
   color: #bdbdbd;
   font-weight: 700;
   filter: brightness(none);
}

#main {
   max-width: 460px;
   min-width: 250px;
   margin: 0 auto;
   margin-top: 20px;
}

/* 이메일 */

#email1{
   width: 200px;
   margin-left: 5px;
}
#email2{
   margin-right: 5px;
   width: 170px; 
   height: 50px;
   padding-left: 10px;
   font-family: inherit;  
   border-radius: 0px; 
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;
   margin-right: 5px;
}

/* 전화번호 */
#tel{
   margin-right: 5px;
   width: 110px; 
   height: 50px;
   padding-left: 10px;
   font-family: inherit;  
   border-radius: 0px; 
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;
   margin-top: 10px;
}

#tel1, #tel2{
   width: 115px; 
   height: 50px;
}
#tel1{
   margin: 0px 5px 0px 5px;
}

#tel2{
   margin: 0px 0px 0px 5px;
}

.box {
   max-width: 460px;
   margin-bottom: 50px;
}

textarea {
   width: 390px;
   height: 50px;
   resize: none;
   padding: 10px 10px 10px 10px;
   margin-top: 10px;
}


/* 하단 버튼 */
.bt1{
   width: 100px;
   height: 50px;
   margin: 0 auto;
   border: none;
   background-color: #A60000;
   font-size: 14pt;
   font-weight: 700;
   color: #fff;
   margin-top: 10px;
}

.bt2{
   width: 410px;
   height: 50px;
   margin: 0 auto;
   border: none;
   background-color: #A60000;
   font-size: 14pt;
   font-weight: 700;
   color: #fff;
   margin: 40px 0px 80px 20px;
}

/* 푸터 */

footer{
   width: 100%;
   height: 140px;
   background-color: #cccccc;
}

.inner{
   max-width: 768px;
   color: darkgray;
   position: relative;
}

#copy{
   margin: 40px;
   position: absolute;
   font-size: 10pt;
}
